<div class="container">
  <div class="row m-3">
    <div>
        <h1>文字ジャンル一覧</h1>

          <p>練習したい文字のジャンルを選んでください。</p>
    </div>

        <div class="d-flex", style="flex-wrap: wrap;">
          <% @genres.each do |genre| %>
            <%= link_to genre.name, sample_path(genre.id), class: "btn btn-genre", style: "color: gray;" %>
          <% end %>
        </div>

        <div class="form-label">
        <h5>-- 入力した文字を練習する --</h5>
          <p>長い文字の場合、15文字ごとに改行されます。</p>
          <%= form_with model: @letter ,url:samples_path do |f| %>
            <%= f.text_area :name, class: "form-control text-area", style: "width:280px" %>
            <%= f.hidden_field :genre_id, :value => "20" %>
            <%= f.submit '実行',class: "btn btn-sm" %>
          <% end %>
        </div>

    </div>
</div>