<div class="container">
  <div class="row m-3">
    <h1><%= @genre.name %>一覧</h1>
  </div>
  <div class="row">
    <div>
      <p>練習したい文字を選んでください。<br>
      [会員登録すると文字のお気に入り登録ができます。]<p>
            <% @letters.each do |letter| %>
              <!--[if]フォーム入力文字(id=20)の場合、自分が入力したものだけを保存する。-->
              <% if letter.genre_id != 20 && letter.user_id != current_user.id %>
                 <li class="list-unstyled">
                   <%= link_to new_sample_practice_path(letter.id), data: {"turbolinks"=>false}, class: "border-bottom", style: "color: gray;" do %>
                         <%= letter.name %>
                         <!--お気に入り機能-->
                           <% if current_user.email != 'guest@example.com' %>
                             <% if current_user.favorite_find(letter.id) %>
                                <%= link_to destroy_favorite_path(letter.id), method: :delete do %>
                                  <i class="fa-solid fa-heart" style="color: #ecacac;"></i>
                                <% end %>
                              <% else %>
                                <%= link_to create_favorite_path(letter.id), method: :post do %>
                                  <i class="fa-regular fa-heart" style="color: #ecacac;"></i>
                                <% end %>
                              <% end %>
                            <% end %>
                          <!--過去フォーム入力文字削除機能-->
                          <% if letter.user_id == current_user.id %>
                            <%= link_to "削除" ,sample_path(letter.id), method: :delete, class: "btn btn-sm" %>
                          <% end %>
                    <% end %>
                  </li>
              <% end %>
            <% end %>

            <% if @genre.id == 20 && current_user.email == 'guest@example.com' %>
              <p>ゲストユーザーは過去のフォーム入力文字をご覧いただけません。</p>
            <% end %>

            <%= link_to "前のページに戻る" , samples_path, class: "btn btn-sm" %>
    </div>
  </div>
</div>