<div class="container">

  <div class="row m-3">
    <h1>練習の記録</h1>
      <div class="text-right">
        <!--検索フォーム-->
        <%= form_with url:practices_path , method: :get, local: true, class: "mt-2 mx-3 p-1 search-form" do |f| %>
          <%= f.text_field :name, placeholder: "文字名を入力"  %>
          <%= f.submit "検索", class: "btn" %>
        <% end %>

        <%= link_to "絞り込み解除",practices_path, class: "btn btn-sm border-secondary", class: "btn" %>
      </div>
  </div>



      <div class="row d-flex flex-wrap bg-light p-3">
        <% @practice_records.each do |practice_record| %>
        <table class="table m-1 table-borderless border record-table">

          <tr>
            <td class="p-0"><% if practice_record.image.attached? %>
              <%= image_tag practice_record.image, width: '100%' %>
            <%end %></td>
          </tr>
          <tr>
            <td class="p-0">「<%= practice_record.letter.name %>」</td>
          </tr>

          <tr>
            <td class="p-0"><%= practice_record.created_at.strftime('%Y/%m/%d') %>
            <%= link_to "削除" ,practice_path(practice_record.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm border-secondary" %></td>
          </tr>
        </table>
        <% end %>
      </div>
      <%= paginate @practice_records %>


