<div class="container">

  <div class="row m-3">
    <h1>美文字練習帳　TOP</h1>
  </div>

  <div class="row image d-flex align-items-center justify-content-center">
    <div class="top-img m-5">
      <p>美しい文字で　日々をちょっぴり華やかにしませんか？</p>
    </div>
  </div>

  <div class="row mb-5 d-flex align-items-center justify-content-center">
    <% if user_signed_in? %>
      <%= link_to "練習をはじめる", samples_path, class: "btn", style: "color: gray;" %>
    <% end %>
  </div>

  <div class="row d-flex align-items-center justify-content-center border">
      <ul class="list-unstyled text-center m-3">
        <% if user_signed_in? %>
          <li class="m-3"><%= link_to "Top", root_path, class: "border-bottom", style: "color: gray;" %></li>
          <li class="m-3"><%= link_to "About", about_path, class: "border-bottom", style: "color: gray;" %></li>
          <li class="m-3"><%= link_to "マイページ",users_my_page_path, class: "border-bottom", style: "color: gray;" %>
              <br>
              [会員限定機能]<br>
              名前・住所を登録すると、「年賀状」ジャンルから繰り返し練習できます。<br>
              お気に入り登録したお手本文字や、練習の記録もこちらからご覧ください。</li>
          <li class="m-3"><%= link_to "お手本を選ぶ", samples_path, class: "border-bottom", style: "color: gray;" %>
              <br>
              練習する文字を選びましょう。好きな文字を入力することも可能です。</li>
        <% else %>
          <li>
            <%= link_to "About", about_path, class: "border-bottom", style: "color: gray;" %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: "border-bottom", style: "color: gray;" %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: "border-bottom", style: "color: gray;" %>
          </li>
          <li>
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "border-bottom", style: "color: gray;" %></li>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

