<h1>お手本文字編集</h1>


<%= form_with model: @letter,url: admin_letter_path, method: :patch do |f| %>
  <%= f.label :name, "文字名" %>
  <%= f.text_field :name %>

  <!--genreはセレクトボックスで-->
  <%= f.label :genre, "ジャンル名" %>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id,:name) %>

  <%= f.submit "変更" %>
<% end %>