<h1>マイページ</h1>

 <h5>登録情報</h5>
    <%= link_to "編集する", users_information_edit_path ,class: "btn btn-success" %>

      <table class="table table-bordered">
        <tr>
          <td class="table-secondary">メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td class="table-secondary">氏名</td>
          <td><%= @user.last_name %>　<%= @user.first_name %></td>
        </tr>
        <tr>
          <td class="table-secondary">カナ</td>
          <td><%= @user.last_name_kana %>　<%= @user.first_name_kana %></td>
        </tr>
        <tr>
          <td class="table-secondary">住所</td>
          <td><%= @user.address %></td>
        </tr>
      </table>

      <li><%= link_to "お気に入り",favorites_path %> </li>
       <li><%= link_to "練習の記録", practices_path %></li>


