<!DOCTYPE html>
<html>
  <head>
    <title>BimoziTraining</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <!--font_awesomeのために追加-->
    <script src="https://kit.fontawesome.com/054f3bdfdc.js" crossorigin="anonymous"></script>
    <!--以下4行はgooglefontのために追加-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <!--KleeOne(手書き風)-->
    <link href="https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap" rel="stylesheet">
          <!--NotoSerifJapanese（本文）-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap" rel="stylesheet">

  </head>


  <body class="d-flex flex-column vh-100">

      <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <span class="web-font border border-secondary p-2">
              <%= link_to "美文字練習帳", root_path, class:'text-dark', style: "text-decoration: none;" %>
            </span>
            <!--<a class="navbar-brand p-3" href="/">< %= image_tag('logo.jpg' , size: '120x90') %></a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">

                <% if admin_signed_in? %>
                  <li class="nav-item"><%= link_to "文字ジャンル一覧&登録", admin_letters_path, class:'nav-link text-dark btn btn-light' %></li>
                  <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:'nav-link text-dark btn btn-light' %></li>
                <% elsif user_signed_in? %>

                    <li class="nav-item"><%= link_to "About", about_path, class:'nav-link text-dark btn btn-light' %></li>
                    <li class="nav-item"><%= link_to "お手本を選ぶ", samples_path, class:'nav-link text-dark btn btn-light' %></li>

                  <% if current_user.email != 'guest@example.com' %>

                      <li class="nav-item">
                        <%= link_to users_my_page_path, class:'nav-link text-dark btn btn-light' do %>
                          マイページ
                        <% end %>
                      </li>
                      <li class="nav-item">
                        <%= link_to favorites_path, class:'nav-link text-dark' do %>
                          <i class="fa-solid fa-heart" style="color: #adadad;"></i>
                        <% end %>
                      </li>
                      <li class="nav-item">
                        <%= link_to practices_path, class:'nav-link text-dark' do %>
                          <i class="fa-solid fa-book-open-reader" style="color: #adadad;"></i>
                        <% end %>
                      </li>

                  <% end %>

                    <li class="nav-item">
                      <%= link_to destroy_user_session_path, method: :delete, class:'nav-link text-dark' do %>
                      <i class="fa-solid fa-arrow-right-from-bracket" style="color: #adadad;"></i>
                      <% end %></li>
                <% else %>
                  <li class="nav-item">
                  <li class="nav-item"><%= link_to "About", about_path, class:'nav-link text-dark btn btn-light' %></li>
                    <%= link_to "新規登録", new_user_registration_path, class:'nav-link text-dark btn btn-light' %></li>
                  <li class="nav-item">
                    <%= link_to "ログイン", new_user_session_path, class:'nav-link text-dark btn btn-light' %></li>
                  <li class="nav-item"><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class:'nav-link text-dark btn btn-light' %></li>
                <% end %>
                 </ul>
                </div>
              </div>
            </nav>
          </header>

          <main class="mb-auto">
            <div class="container">


                <%= yield %>

            </div>
          </main>

          <footer class="footer bg-white text-white pt-5 pb-4">
            <div class="container">
              <div class="row no-gutters">
                <div class="col-md-4">

                </div>
                <div class="col-md-8">

                </div>
              </div>
            </div>
          </footer>

  </body>
</html>
